@media only screen and (min-width:375px){

.container {
    display: grid;
    max-height: 100vh;
    margin: auto;
    max-width: 375px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 60x 80px 500px 40px;
    grid-template-areas:
    "t t t t t t t t t t t t "
    "m m m m m m m m m m m m "
    "m m m m m m m m m m m m "
    "m m m m m m m m m m m m "
    "f f f f f f f f f f f f ";}
    
.top-bar {
    grid-area: t}

.main {
    grid-area: m;}

footer {
    grid-area: f;}

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color:black;
    width: 100%;
    height: 30px;
    color:white;
    text-decoration: none;}

div :hover .top-1{
    color:#13aff0}

.top-1 {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-left: 1px;
    padding-top: 1px;}

.top-2 {
    font-size: 15px;
    padding-top: 5px;
    padding-right: 1px;}

.main-1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 10px;
    height: 30px;
    width: 99.5%;
    text-align: center;
    background-color:white;
    color:black;
    border: solid 1px black;}

.main-2 {
    display: flex;
    justify-content: center;
    height: 75px;
    margin-top: 10px;}

.main-3 {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 100%;}

.formulier {
    text-align:left;
    width: 100%;
    height: 30px;
    font-size: 20px;}

input {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;}

textarea {
    width: 242px;
    height: 80px;}

form, textarea {
    display: grid;
    justify-content: center;}

.submit {
    margin-top: 250px;
    width: 100%;}

input, textarea {
    border: 2px solid black;
    background-color: #AEC6C9;
    size: 20px;}

footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: black;
    color:white;
    font-size: 20px;
    height: 30px;
    padding: 5px;}

.foot1 {
    grid-column: 2;
    text-decoration: none;
    color: white;
    padding-right: 10px;}

.foot2 {
    grid-column: 4;
    text-decoration: none;
    color: white;
    padding-right: 10px;}

.foot3 {
    grid-column: 6;
    text-decoration: none;
    color: white;}

.foot1:hover {
    color:#13aff0;}

.foot2:hover {
    color:#13aff0;}

.foot3:hover {
    color:#13aff0;}
}

@media screen and (min-width:750px) {

.container {
    max-width: 750px;
    grid-template-rows: 60px 60px 250px 590px 40px;}
    
.top-bar {
    height: 40px;}

.top-1 {
    font-size: 35px;
    padding-left: 20px;}

.top-2 {
    font-size: 25px;
    padding-top: 10px;
    padding-right: 20px;}

.main-1 {
    font-size: 30px;
    height: 40px;}

.main-2 {
    height: 120px;
    margin-top: 20px;}

.main-3 {
    height: 660px;
    width: 100%;}

.formulier {
    font-size: 32px;}

input {
    font-size: 32px;
    margin-bottom: 20px}

textarea {
    width: 382px;
    height: 120px;}

.submit {
    margin-top: 400px;}

footer {
    font-size: 30px;
    height: 40px;
    padding: 5px;}
}

@media screen and (min-width:1281px) {

.container {
    max-width: 1401px;
    grid-template-rows: 40px 40px 150px 450px 40px;}
    
.top-bar {
    height: 30px;}

.top-1 {
    font-size: 25px;
    padding-left: 20px;
    padding-top: 12px;}

.top-2 {
    font-size: 20px;
    padding-top: 5px;
    padding-right: 20px;}

.main-1 {
    font-size: 25px;
    padding-top: 10px;
    height: 30px;
    margin: auto;}

.main-2 {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 0px;}

.main-3 {
    height: 380px;}

.formulier {
    height: 10px;
    font-size: 20px;}

input {
    font-size: 20px;}

input, textarea {
    width: 500px;}

textarea {
    width: 502px;
    height: 140px;
    font-size: 20px;}

.submit {
    margin-top: 380px;}

footer {
    font-size: 20px;
    height: 30px;
    padding: 5px;}

}